<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggiunta Locale</title>
</head>
<body>
    <form method="post" action="/aggiungi">
        <label for="nome">Nome: <input type="text" name="nome" id="nome" required="required"></label>
        <br>
        <label for="indirizzo">Indirizzo: <input type="text" name="indirizzo" id="indirizzo" required="required"></label>
        <br>
        <label for="image">Foto: <input type="file" name="image" id="image" required="required"></label>
        <button type="submit">Salva</button>
    </form>

</body>
</html>