<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <style>
        button{
            opacity: 0.5;
            pointer-events: none;
        }
    </style>
</head>
<body>
<h1>Home Page</h1>
<ul>
    <li><a href="/login">Accedi</a></li>
    {#if loggedIn }
        <li><a href="/profilo">Profilo</a></li>
    {#else}
        <li><a href="/registrazione">Registrati</a></li>
    {/if}
</ul>
<form action="/ricerca" method="post">
    <label for="search"><input id="search-input" placeholder="Cerca un locale..." name="search" value=""></label>
    <button type="submit" id="search-btn">Cerca</button>
</form>
<script>
    const search_btn = document.getElementById("search-btn");
    const search_input = document.getElementById("search-input");

    search_input.addEventListener("mouseleave",() => {
        search_btn.style.opacity = "1";
        search_btn.style.pointerEvents = "all";
        if(search_input.value.length < 3)
        {
            search_btn.style.opacity = "0.5";
            search_btn.style.pointerEvents = "none";
        }

    })
</script>
</body>
</html>