<!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Locali</title>
</head>
<body>
<div class="container">
  <div class="header">NomeSito</div>
  <br>
  <div>
    <div class="photo">Foto...</div> <br>
    <div class="info">
      <b>NOME:</b>
      <p>INDIRIZZO:</p>
      <span>Voto Medio degli utenti:</span>
      <span class="stars">&#9733;&#9733;&#9734;&#9734;&#9734;</span>
    </div>
  </div>
  <a href="#" class="add-review">Aggiungi Recensione</a>
  <div class="dropdown">
    <label>Mostra con voto massimo:</label>
    <select>
      <option>1 - 5</option>
      <option>2 - 5</option>
      <option>3 - 5</option>
      <option>4 - 5</option>
      <option>5</option>
    </select>
  </div>
  <br>

  <div class="review">
    <p>Autore - Data</p>
    <p>Titolo</p>
    <p>Testo</p>
  </div>
</div>
</body>
</html>
